<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ritusharma.itproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_slunk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_slunk_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".SinchModules.SinchService" />b
        <activity android:name=".Auth_SignIn.EditUser" />
        <activity android:name=".Auth_SignIn.PhoneAuthActivity" />
        <activity android:name=".Calendar.CalendarLayout" />
        <activity android:name=".Calendar.AddEvent" />
        <activity android:name=".LocationActivity" />

        <!-- sinch activities -->
        <activity
            android:name=".SinchModules.VideoCallScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SinchModules.VoiceCallScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SinchModules.IncomingCallScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Auth_SignIn.AddFriendActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSo85nB64iPsy_SN6rVl3GCD8u41gw06I" />

        <activity
            android:name=".Auth_SignIn.FriendsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChatModules.ChatRoomActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>